@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
#head{
  color: white;
}
.signup {
  color: white;
  background-color: orange;
}
label {
  color: white;
}