h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

h2 {
  height: 100px;
}

h2, h3 {
  display: flex;
    justify-content: center;
    align-items: center;
}