h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
  }

p1 {
  height: 100px;
}

p1, p2 {
  display: flex;
    justify-content: center;
    align-items: center;
}